<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>.null</key>
    <string>_null.glif</string>
    <key>nonmarkingreturn</key>
    <string>nonmarkingreturn.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>uni00B7</key>
    <string>uni00B_7.glif</string>
    <key>afii57388</key>
    <string>afii57388.glif</string>
    <key>afii57403</key>
    <string>afii57403.glif</string>
    <key>afii57407</key>
    <string>afii57407.glif</string>
    <key>thn_H</key>
    <string>thn_H_.glif</string>
    <key>thn_SH</key>
    <string>thn_S_H_.glif</string>
    <key>thn_N</key>
    <string>thn_N_.glif</string>
    <key>thn_R</key>
    <string>thn_R_.glif</string>
    <key>thn_B</key>
    <string>thn_B_.glif</string>
    <key>thn_L</key>
    <string>thn_L_.glif</string>
    <key>hn_K</key>
    <string>hn_K_.glif</string>
    <key>thn_Alifu</key>
    <string>thn_A_lifu.glif</string>
    <key>thn_V</key>
    <string>thn_V_.glif</string>
    <key>thn_M</key>
    <string>thn_M_.glif</string>
    <key>thn_F</key>
    <string>thn_F_.glif</string>
    <key>thn_D</key>
    <string>thn_D_.glif</string>
    <key>thn_T</key>
    <string>thn_T_.glif</string>
    <key>thn_LL</key>
    <string>thn_L_L_.glif</string>
    <key>thn_G</key>
    <string>thn_G_.glif</string>
    <key>thn_GN</key>
    <string>thn_G_N_.glif</string>
    <key>thn_S</key>
    <string>thn_S_.glif</string>
    <key>thn_DD</key>
    <string>thn_D_D_.glif</string>
    <key>thn_Z</key>
    <string>thn_Z_.glif</string>
    <key>thn_TT</key>
    <string>thn_T_T_.glif</string>
    <key>thn_Y</key>
    <string>thn_Y_.glif</string>
    <key>thn_P</key>
    <string>thn_P_.glif</string>
    <key>thn_J</key>
    <string>thn_J_.glif</string>
    <key>thn_C</key>
    <string>thn_C_.glif</string>
    <key>uni0798</key>
    <string>uni0798.glif</string>
    <key>uni0799</key>
    <string>uni0799.glif</string>
    <key>uni079A</key>
    <string>uni079A_.glif</string>
    <key>uni079B</key>
    <string>uni079B_.glif</string>
    <key>uni079C</key>
    <string>uni079C_.glif</string>
    <key>uni079D</key>
    <string>uni079D_.glif</string>
    <key>uni079E</key>
    <string>uni079E_.glif</string>
    <key>uni079F</key>
    <string>uni079F_.glif</string>
    <key>uni07A0</key>
    <string>uni07A_0.glif</string>
    <key>uni07A1</key>
    <string>uni07A_1.glif</string>
    <key>uni07A2</key>
    <string>uni07A_2.glif</string>
    <key>uni07A3</key>
    <string>uni07A_3.glif</string>
    <key>uni07A4</key>
    <string>uni07A_4.glif</string>
    <key>uni07A5</key>
    <string>uni07A_5.glif</string>
    <key>uni07A6</key>
    <string>uni07A_6.glif</string>
    <key>uni07A7</key>
    <string>uni07A_7.glif</string>
    <key>uni07A8</key>
    <string>uni07A_8.glif</string>
    <key>uni07A9</key>
    <string>uni07A_9.glif</string>
    <key>uni07AA</key>
    <string>uni07A_A_.glif</string>
    <key>uni07AB</key>
    <string>uni07A_B_.glif</string>
    <key>uni07AC</key>
    <string>uni07A_C_.glif</string>
    <key>uni07AD</key>
    <string>uni07A_D_.glif</string>
    <key>uni07AE</key>
    <string>uni07A_E_.glif</string>
    <key>uni07AF</key>
    <string>uni07A_F_.glif</string>
    <key>uni07B0</key>
    <string>uni07B_0.glif</string>
    <key>uni07B1</key>
    <string>uni07B_1.glif</string>
    <key>DotAbove</key>
    <string>D_otA_bove.glif</string>
    <key>DotBelow</key>
    <string>D_otB_elow.glif</string>
    <key>TwoDots</key>
    <string>T_woD_ots.glif</string>
    <key>ThreeDots</key>
    <string>T_hreeD_ots.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uniFDF2</key>
    <string>uniF_D_F_2.glif</string>
    <key>uni07A6nsp</key>
    <string>uni07A_6nsp.glif</string>
    <key>uni07A7nsp</key>
    <string>uni07A_7nsp.glif</string>
    <key>uni07A8nsp</key>
    <string>uni07A_8nsp.glif</string>
    <key>uni07A9nsp</key>
    <string>uni07A_9nsp.glif</string>
    <key>uni07AAnsp</key>
    <string>uni07A_A_nsp.glif</string>
    <key>uni07ABnsp</key>
    <string>uni07A_B_nsp.glif</string>
    <key>uni07ACnsp</key>
    <string>uni07A_C_nsp.glif</string>
    <key>uni07ADnsp</key>
    <string>uni07A_D_nsp.glif</string>
    <key>uni07AEnsp</key>
    <string>uni07A_E_nsp.glif</string>
    <key>uni07AFnsp</key>
    <string>uni07A_F_nsp.glif</string>
    <key>uni07B0nsp</key>
    <string>uni07B_0nsp.glif</string>
  </dict>
</plist>
