    @font-face {font-family: 'Experiment'; src: url('./fonts/experiment-thaana-0.otf');font-weight:  400;}
	@font-face {font-family: 'Experiment'; src: url('./fonts/experiment-sinhala-0.otf');font-weight:  400;}
    @font-face {font-family: 'Experiment'; src: url('./fonts/experiment-latin-0.otf'); font-style: normal; font-weight:  400;}
    @font-face {font-family: 'Experiment'; src: url('./fonts/experiment-latin-1.otf');font-weight:  600;}
		@font-face {font-family: 'Experiment'; src: url('./fonts/experiment-latin-italic-0.otf'); font-style: italic; font-weight:  400;}
    @font-face {font-family: 'Experiment'; font-style: italic; src: url('./fonts/experiment-latin-italic-0.otf');font-weight:  600;}
    @font-face {font-family: 'Experiment';   font-style: italic; src: url('./fonts/experiment-latin-italic-0.otf');font-weight:  400;}
    @font-face {font-family: 'Experiment-Narrow'; src: url('./fonts/experiment-narrow-latin-0.otf');font-weight:  400;}

    body{font-family: 'Experiment'; font-size: 1vw; line-height: 1.3;}
